version: '3.7'

services:
  pxc1:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc1
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_database
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
      WSREP_CLUSTER_NAME: pxc-cluster
      WSREP_NODE_ADDRESS: 172.28.1.11
      WSREP_CLUSTER_ADDRESS: "gcomm://172.28.1.11,172.28.1.12,172.28.1.13"
    networks:
      - galera-network
    volumes:
      - pxc1-data:/var/lib/mysql
    ports:
      - "3307:3306"

  pxc2:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc2
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_database
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
      WSREP_CLUSTER_NAME: pxc-cluster
      WSREP_NODE_ADDRESS: 172.28.1.12
      WSREP_CLUSTER_ADDRESS: "gcomm://172.28.1.11,172.28.1.12,172.28.1.13"
    networks:
      - galera-network
    volumes:
      - pxc2-data:/var/lib/mysql
    ports:
      - "3308:3306"

  pxc3:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc3
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_database
      MYSQL_USER: user
      MYSQL_PASSWORD: user_password
      WSREP_CLUSTER_NAME: pxc-cluster
      WSREP_NODE_ADDRESS: 172.28.1.13
      WSREP_CLUSTER_ADDRESS: "gcomm://172.28.1.11,172.28.1.12,172.28.1.13"
    networks:
      - galera-network
    volumes:
      - pxc3-data:/var/lib/mysql
    ports:
      - "3309:3306"

  haproxy:
    image: haproxy:2.6
    container_name: haproxy
    environment:
      - MYSQL_SERVERS="pxc1:3306 pxc2:3306 pxc3:3306"
    ports:
      - "3306:3306"
      - "8404:8404"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      - galera-network

networks:
  galera-network:
    driver: bridge

volumes:
  pxc1-data:
  pxc2-data:
  pxc3-data:
