services:
  pxc1:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc1
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=root
      - WSREP_NODE_NAME=pxc1
      - WSREP_NODE_ADDRESS=pxc1
      - WSREP_CLUSTER_ADDRESS=gcomm://
    networks:
      pxc-net:
        ipv4_address: 172.28.1.11
    ports:
      - "3307:3306"

  pxc2:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc2
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=root
      - WSREP_NODE_NAME=pxc2
      - WSREP_NODE_ADDRESS=pxc2
      - WSREP_CLUSTER_ADDRESS=gcomm://pxc1,pxc2,pxc3
    networks:
      pxc-net:
        ipv4_address: 172.28.1.12
    ports:
      - "3308:3306"
    depends_on:
      - pxc1

  pxc3:
    image: percona/percona-xtradb-cluster:8.0
    container_name: pxc3
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - CLUSTER_NAME=pxc-cluster
      - XTRABACKUP_PASSWORD=root
      - WSREP_NODE_NAME=pxc3
      - WSREP_NODE_ADDRESS=pxc3
      - WSREP_CLUSTER_ADDRESS=gcomm://pxc1,pxc2,pxc3
    networks:
      pxc-net:
        ipv4_address: 172.28.1.13
    ports:
      - "3309:3306"
    depends_on:
      - pxc1

networks:
  pxc-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.1.0/24
